.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #21222A;
  padding: 25px 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

nav > img {
  height: 29px;
}

nav > h1 {
  font-size: 1.4rem;
  color: #61DAFB;
  font-weight: 700;
}

main {
  background-color: #282D35;
  flex-grow: 1;
  color: white; 
  padding: 20px 27px; 
}

main > h2 {
  font-weight: 700;
  font-size: 2rem;
}

li {
  padding: 7px;
  max-width: 400px;
}